/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  button,
  input,
  textarea {
    @apply outline-0;
  }
  #links .active {
    @apply text-gray-200;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-900;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    border: 1px solid rgb(75 85 99);
  }
  ::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
  }
}

body {
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
  padding: 0;
}

.test {
  background: red !important;
}

#mega-menu {
  position: absolute;
  top: calc(100% + 1rem); /* Position below the nav */
  left: 0;
  width: 100%;
  z-index: 10;
}

/* Hide mega menu by default */
#mega-menu.hidden {
  display: none;
}

.radial-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% 0%,
    #eb641e,
    rgba(255, 255, 255, 0) 70%
  );
  z-index: -1 !important;
}

.radial-bg {
  filter: blur(8px);
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1 !important;
  background-size: 400% 400%;
  animation: gradientShift 30s ease infinite;
}

.hero-vid {
  z-index: -1 !important;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* gallery */

.gallery-track {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.25rem;
  padding: 0.25rem;
  will-change: transform;
}

.card {
  height: 400px;
  overflow: hidden;

  & .card-image-wrapper {
    height: 135%;
    will-change: transform;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (width < 800px) {
  .gallery-track {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 550px) {
  .gallery-track {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* container css */
